/* Importing Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/* General Styles */
html {
    font-family: 'Playfair Display', serif;
    background-color: rgb(242, 242, 242);
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    gap: 20px;

    text-align: center;
}

input:hover,
button:hover {
    cursor: pointer;
}

/* MAIN */

#main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 15px;
}

/* Paint Buttons */
#paint-buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: min(40vw, 200px);
}

#paint-buttons button {
    position: relative;
    width: 100%;
    padding: 4px;
    font-size: inherit;
    font-family: inherit;
    border-radius: 5px;
    border: 1.5px solid black;
    background-color: rgb(242, 242, 242);

    transition: all 0.1s linear;
}

#color-picker {
    /* -webkit-appearance: none; */
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50px;

    transition: all 0.1s linear;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button::before {
    content: '';
    position: absolute;
    background-color: black;
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0;
    transition: top 0.1s linear;
}

button:hover::before {
    top: 90%;
}

button:active {
    transform: scale(0.98);
}

#color-picker:hover {
    transform: scale(1.05);
}

#color-picker:active {
    transform: scale(0.95);
}

.active::before {
    top: 90%;
}

/* Size Slider Section */
input[type='range'] {
    width: 100%;
    -webkit-appearance: none;
    background-color: white;
    border-radius: 25px;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background: white;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: black;
  }

/* Painting Paper Section */
#painting-paper {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: min(80vw, 650px);
    height: min(80vw, 650px);
    display: grid;
}

/* MEDIA QUERIES */

@media (min-width: 1200px) {
    html {
        font-size: 25px;
    }
}
  
@media (max-width: 650px) {
    html {
        font-size: 16px;
    }
}
